@import (css) "./react-datetime.css";

@suggest-background: #fff;

body {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#app {
  width: 100%;
  height: 100%;
}

#terrain-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding-bottom: 66%;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 5px;
}

.content {
  min-height: 800px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
}

.header {
  width: 100%;
  display: block;
  margin: 4px;
  padding: 5px;
  min-height: 50px;
}

.control-panel {
  background: #f0f0f0;
  margin: 4px;
  padding: 15px;
  flex: 1 6 30%;
  order: 1;
}

.control {
  position: relative;
  padding: 20px 0;
}

.time-label {
  font-family: 'Overpass Mono', sans-serif;
  font-size: 40px;
}

.terrain-view {
  position: relative;
  margin: 4px;
  flex: 3 1 70%;
  order: 2;
}

.map-selector {
  svg {
    border: 1px solid #ccc;
  }
  rect {
    stroke: black;
    stroke-weight: 1px;
  }
}

.suggest-list {
  background: @suggest-background;
  list-style-type: none;
  padding: 0;
  border-radius: 5px;
}

.suggest-item {
  padding: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #f0f0f0;
}

.suggest-item:hover {
  background-color: darken(@suggest-background, 10%);
  cursor: pointer;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.refresh {
  i {
    vertical-align: middle;
  }
}

.ortho-selector {
  padding: 8px 3px;
}

.perspective-selector {
  padding: 5px 0;
}

.flright {
  float: right;
}
